<footer id="footer">
    <div id="footer-inner-container">
        <img src="/images/logo/logo_small.png" id="footer-image"> </img>
        <div class="footer-vertical-flex">
            <p class="footer-info"><b>Owner's Name:</b> Aleksey Panas</p>
            <p class="footer-info"><b>Owner's Email:</b> panasaleksey3@gmail.com</p>
            <p class="footer-info"><b>Organization Email:</b> pyunityd@gmail.com</p>
        </div>

        <div class="footer-vertical-flex">
            <p class="footer-info"><b>Co-Owner's Name:</b> Sazzad Ibrahim</p>
            <p class="footer-info"><b>Co-Owner's Email:</b> N/A</p>
        </div>
    </div>
</footer>