<footer id="footer">
    <div id="footer-inner-container">
        <img src="/images/logo/logo_small.png" id="footer-image"> </img>
        <div class="footer-vertical-flex">
            <h6 class="footer-title"> PyUnityd Head Executives </h6>
            <p class="footer-info"><b>President:</b> Aleksey Panas</p>
            <p class="footer-info">panasaleksey3@gmail.com</p>
        </div>

        <div class="footer-vertical-flex">
            <h6 class="footer-title"> BTHS Executives </h6>
            <p class="footer-info"><b>President:</b> Alexander Shannon</p>
            <p class="footer-info">ashannon2231@bths.edu</p>
            <p class="footer-info"><b>Co-President:</b> Samuel Ashkenas </p>
            <p class="footer-info">Sammy.ashkenas1@gmail.com</p>
        </div>

        <div class="footer-vertical-flex">
            <h6 class="footer-title"> Contact/Social Media </h6>
            <p class="footer-info"><b>Organization Email:</b> pyunityd@gmail.com</p>
            <div class="footer-social-media"> 
                <a target="_blank" href=" <%= discord_server %> "><i style="color:white" class="fab fa-discord"></i></a>
                <a target="_blank" href="/"><i style="color:white" class="fab fa-twitter"></i></a>
                <a target="_blank" href="/"><i style="color:white" class="fab fa-facebook"></i></a>
            </div>
        </div>
    </div>
</footer>