<!DOCTYPE html>
<html>
    <% include partials/head %>
    <% include partials/bootstrap %>

        <body>
            <% include partials/large_logo %>
            <% include partials/nav %>

                <div id="main-container">

                    <div id="about-container">
                        
                        <img id="about-bg" src="images/about/content_bg.png"> </img>

                        <div id="about-outer-flex">
                            <h1 id="about-header">About</h1>

                            <div id="about-inner-flex"> 
                                <p id="about-text"> PyUnityd is a game development orientated club founded within Brooklyn Technical High School
                                    by Aleksey Panas towards the end of 2019. The mission of the club is to teach inexperienced club members
                                    how to program from the standpoint of game creation, while facilitating game development projects for
                                    more experienced members. Club members work together in groups throughout the year designing 
                                    video games together by combining strengths in programming, graphics design, and gameplay design. 
                                    Towards the second half of the school year, we also introduce a series of competitive hackathons to 
                                    spark some friendly competition. So far, PyUnityd has been successful in creating
                                    a fun and educational experience for Brooklyn Tech students. In the future,
                                    we hope to expand beyond the walls of our High School to provide
                                    opportunities for everyone! </p>
                            </div>
                        </div>

                    </div>

                </div>

        </body>

        <% include partials/footer %>
        <% include partials/scripts %>

</html>