<!DOCTYPE html>
<html>
    <% include partials/head %>
    <% include partials/scripts %>
    <% include partials/bootstrap %>

    <body>
        <% include partials/nav %>

        <div id="main-container">
            <div id="article-container">
                <div id="article-inner-container">
                    <h6 id="article-date"> Published on <%= article.publish_date_string %> </h6>
                    <hr></hr>
                    <h1 id="article-title"> <%= article.article_title %> </h1>
                    
                    <div id="article-content-container">
                        <%- article.content_html %>
                    </div>
                </div>

            </div>
        </div>

        <% include partials/footer %>
    </body>

</html>