<!DOCTYPE html>
<html lang="en">
    <% include partials/head %>
    <% include partials/scripts %>
    <% include partials/bootstrap %>

    <body>
        <% include partials/nav %>

        <div id="main-container">
            <div id="dashboard-container">
                <div id="dash-top-container">
                    <div id="dash-top-left">
                        <img id="dash-profile-img" src=" <%= account.profile_image_path %> "> </img>
                        <h1 id="dash-display-name"> <%= account.display_name %> </h1>
                    </div>
                    
                    <div id="dash-top-right">
                        <h6>No Awards Yet :(</h6>
                    </div>
                </div>
                
                <div id="dash-main-container">
                    <!-- BTHS Section -->
                    <div class="dash-section">
                        <h2 class="dash-section-header"> BTHS </h2>
                        <hr>

                        <h4 class="dash-bths-year"> 2020-2021 </h4>
                        <div class="dash-bths-year-display">
                            <p> Stuff </p>
                        </div>
                    </div>

                    <!-- Codebrawl Section -->
                    <div class="dash-section">
                        <h2 class="dash-section-header"> CodeBrawl </h2>
                        <hr>

                        <h6 style="margin:auto;"> Coming Soon </h6>
                    </div>

                    <!-- Admin Section -->
                    <div class="dash-section">
                        <h2 class="dash-section-header"> Admin </h2>
                        <hr>

                        <div id="admin-box">
                            <% include partials/admin_panels/add_year %>
                            <% include partials/admin_panels/add_year %>
                            <% include partials/admin_panels/add_year %>
                            <% include partials/admin_panels/add_year %>
                            <% include partials/admin_panels/add_year %>
                            <% include partials/admin_panels/add_year %>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </body>

</html>