<!DOCTYPE html>
<html>
    <% include partials/head %>
    <% include partials/scripts %>
    <script src="./javascripts/home_page_script.js"> </script>
    <% include partials/bootstrap %>

    <body>
        <% include partials/large_logo %>
        <% include partials/nav %>
        

        <div id="main-container">

            <div id="home-container">
                <div class="home-news-title">
                    <h1> Welcome! </h1>
                </div>
                <div id="home-top-container">
                    <div style="background-color: rgba(166, 117, 245, 0.521);" class="home-top-content"> 
                        <h2> Discord Server! <a target="_blank" href=" <%= discord_server %> "><i style="color:white" class="fab fa-discord"></i></a> </h2>
                        <p> 
                            If you are a member of the BTHS PyUnityd club
                            then be sure to join the discord server by clicking
                            the icon above!
                        </p>
                    </div>

                    <div style="background-color: rgba(93, 126, 108, 0.384);" class="home-top-content"> 
                        <h2> Intro </h2>
                        <p> 
                            Welcome to PyUnityd, home to the PyUnityd game development club and the
                            soon-to-be-released CodeBrawl coding arena. Our organization currently only 
                            resides within Brooklyn Technical HS, but expansion is on the horizon! (See about page for more info)
                        </p>
                    </div>
                </div>

                <div class="home-news-title">
                    <h1> News and Announcements </h1>
                    <hr style="margin: auto;">
                </div>
                
                <% articles.forEach((article) => { %>
                    <% include partials/article_cover %>
                <% }); %>

                <div id="show-more-container">
                    <button id="show-more"> Show More </button>
                    <img id="load-icon" src="https://www.rmh.com.au/wp-content/themes/royalhotel/images/loading.gif"> </img>
                    <p id="youve-hit-bottom">You've hit the bottom!</p>
                </div>

            </div>

        </div>

        <% include partials/footer %>
    </body>

</html>