<!DOCTYPE html>
<html>
    <% include partials/head %>
    <% include partials/bootstrap %>

    <body>
        <% include partials/large_logo %>
        <% include partials/nav %>

        <div id="main-container">


        </div>

        <% include partials/footer %>
        <% include partials/scripts %>
    </body>

</html>