<!DOCTYPE html>
<html>
    <% include partials/head %>
    <% include partials/bootstrap %>

    <body>
        <% include partials/large_logo %>
        <% include partials/nav %>

        <div id="main-container">

            <div id="home-container">

                <div class="article-cover-container"> 
                    <div class="article-cover-text-container">
                        <h2 class="article-cover-title"> <a href="/"> Title Sample Here </a> </h2>
                        <p class="article-cover-description"> This article sample is a sample of samples such that samplest is samplest of sampliest simplicatfico sdf sd fsdf sdfsdf sd fsd fsdf sdf sdf sdf sd fsdf sdf sdf sdf sdf sdf sdf sdf sdf sd </p>
                    </div>
                    <div class="article-cover-image-container">
                        <img class="article-cover-image" src="https://media-exp1.licdn.com/dms/image/C560BAQFJd2k1WAaphA/company-logo_200_200/0/1616143997078?e=2159024400&v=beta&t=5HMyWwZjNC82N4cYmPgxbwnEqJMWfSx6ux6PrhKioA8"> </img>
                    </div>
                </div>

                <div class="article-cover-container"> 
                    <div class="article-cover-text-container">
                        <h2 class="article-cover-title"> <a href="/"> Title Sample Here </a> </h2>
                        <p class="article-cover-description"> This article sample is a sample of samples such that samplest is samplest of sampliest simplicatfico sdf sd fsdf sdfsdf sd fsd fsdf sdf sdf sdf sd fsdf sdf sdf sdf sdf sdf sdf sdf sdf sd </p>
                    </div>
                    <div class="article-cover-image-container">
                        <img class="article-cover-image" src="https://media-exp1.licdn.com/dms/image/C560BAQFJd2k1WAaphA/company-logo_200_200/0/1616143997078?e=2159024400&v=beta&t=5HMyWwZjNC82N4cYmPgxbwnEqJMWfSx6ux6PrhKioA8"> </img>
                    </div>
                </div>

                <div id="show-more-container">
                    <button id="show-more"> Show More </button>
                    <img id="load-icon" src="https://www.rmh.com.au/wp-content/themes/royalhotel/images/loading.gif"> </img>
                </div>

            </div>

        </div>

        <% include partials/footer %>
        <% include partials/scripts %>
        <script src="./javascripts/home_page_script.js"> </script>
    </body>

</html>