<!DOCTYPE html>
<html lang="en"> 
    <% include partials/head %>
    <% include partials/scripts %>

    <body>
        <% include partials/nav %>

        <div id="main-container">
            
        </div>
    </body>

    <% include partials/footer %>

</html>