<!DOCTYPE html>
<html lang="en"> 
    <% include partials/head %>
    <% include partials/scripts %>
    <% include partials/bootstrap %>
    <script> 
        const games_arr = <%- JSON.stringify(games) %> 
        const games_per_page = <%= games_per_page %>
    </script>
    <script src="/javascripts/projects.js"></script>

    <body>
        <% include partials/nav %>

        <div id="main-container">
            <div id="proj-search-container">
                <input id="proj-search-bar" type=text> </input>
            </div>

            <div id="proj-inner-cont">
                
                <% if (games.length < games_per_page) { %>
                    <% games.forEach((game) => { %>
                        <% include partials/project_game_card %>
                    <% }); %>
                <% } else { %>
                    <% let game; %>
                    <% for (i=0; i < games_per_page; i++) { %>
                        <% game = games[i]; %>
                        <% include partials/project_game_card %>
                    <% } %>
                <% } %>

            </div>

            <h3 class="proj-arrow" id="proj-arrow-right"> <i class="fas fa-arrow-right"></i> </h3>
            <h3 class="proj-arrow" id="proj-arrow-left"> <i class="fas fa-arrow-left"></i> </h3>
        </div>

        <h2 id="gallery-title">Gallery</h2>

        <div id="gallery-container">
            <div class="gallery-image-container">
                <img src="/images/project_gallery/1.png" alt="No Image Here">
                <p>Final Project 2020-2021 (Safa Tahir, Christos Psimadas, Mariia Nilova, Eric Tsang, Ariyan Jami)</p>
            </div>

            <div class="gallery-image-container">
                <img src="/images/project_gallery/2.png" alt="No Image Here">
                <p>Final Project 2020-2021 (Safa Tahir, Christos Psimadas, Mariia Nilova, Eric Tsang, Ariyan Jami)</p>
            </div>

            <div class="gallery-image-container">
                <img src="/images/project_gallery/6.png" alt="No Image Here">
                <p>Final Project 2020-2021 (Safa Tahir, Christos Psimadas, Mariia Nilova, Eric Tsang, Ariyan Jami)</p>
            </div>

            <div class="gallery-image-container">
                <img src="/images/project_gallery/3.png" alt="No Image Here">
                <p>Final Project 2020-2021 (Grace Li, Matthew Zhang)</p>
            </div>

            <div class="gallery-image-container">
                <img src="/images/project_gallery/4.png" alt="No Image Here">
                <p>Final Project 2020-2021 (Grace Li, Matthew Zhang)</p>
            </div>

            <div class="gallery-image-container">
                <img src="/images/project_gallery/5.png" alt="No Image Here">
                <p>Final Project 2020-2021 (David Merdjan, Christian Broomes)</p>
            </div>
            
            <div class="gallery-image-container">
                <img src="/images/project_gallery/7.png" alt="No Image Here">
                <p>Final Project 2020-2021 (Chi Hang Yeung, Evan Klein, Ethan Seow, Shashi Sugrim)</p>
            </div>
        </div>

    </body>

    <% include partials/footer %>

</html>