@font-face {
	font-family: "Gothic";
	src: url(../fonts/gothic.ttf);
}

@font-face {
	font-family: "Gill";
	src: url(../fonts/gill.ttf);
}

a:link {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#000000;
  height: 1px;
  margin: 0;
  border-width: 2px;
}

a:hover {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-image: linear-gradient(#00fa53, #049aff);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}

#main-container {
  width: 100%;
  position: relative;
}

/*
 _   _   ___  _   _ 
| \ | | / _ \| | | |
|  \| |/ /_\ \ | | |
| . ` ||  _  | | | |
| |\  || | | \ \_/ /
\_| \_/\_| |_/\___/ 
                                 
*/

#nav-main-container {
  width: 100%;
  height: 156px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

#nav-inner-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#nav-inner-container {
  background-color: black;
  display: block;
  width:100%;
  height: 45%;
  z-index: 2;
}

#nav-image {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

#nav-logo-container {
  display: flex;
  z-index: 3;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#nav-logo {
  height: 60%;
}

.nav-button {
  background: #000000;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  margin-right: 5%;
  margin-left: 5%;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
}
.nav-button:focus {
  outline: none;
}
.nav-button:hover {
  background: #666666;
}

#nav-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}



/*
 _____ _   _                ______          _   _       _     
|  _  | | | |               | ___ \        | | (_)     | |    
| | | | |_| |__   ___ _ __  | |_/ /_ _ _ __| |_ _  __ _| |___ 
| | | | __| '_ \ / _ \ '__| |  __/ _` | '__| __| |/ _` | / __|
\ \_/ / |_| | | |  __/ |    | | | (_| | |  | |_| | (_| | \__ \
 \___/ \__|_| |_|\___|_|    \_|  \__,_|_|   \__|_|\__,_|_|___/
                                                              
                                                              
*/

#logo-container {
  width: 100%;
  overflow: auto;
}

#logo {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50vw;
}

#footer {
  top: 0px;
  width: 100%;
  background: #000000;
  padding: 10px;
  margin-top: 20px;
  position: relative;
}

#footer-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
  font-size: smaller;
}

#footer-image {
  height: 90px;
  margin-right: 25px;
}

.footer-vertical-flex {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
}

.footer-info {
  margin: 0;
}

/*
 _   _                      
| | | |                     
| |_| | ___  _ __ ___   ___ 
|  _  |/ _ \| '_ ` _ \ / _ \
| | | | (_) | | | | | |  __/
\_| |_/\___/|_| |_| |_|\___|                          
*/

#home-container {
  width: 100%;
  position: relative;
  margin: 0;
}

.article-cover-container {
  background-color: #c2e5de;
  position: relative;
  border-radius: 10px;
  margin: 20px 5vw 20px 5vw;
  padding: 1vw 3vw 1vw 3vw;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 520px) {
  .article-cover-container {
    flex-direction: column;
  }
}

.article-cover-text-container {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-right: 2vw;
}

.article-cover-image-container {

}

.article-cover-title {
  color: black;
}

.article-cover-description {

}

.article-cover-image {
  width: 50%;
  float: right;
}

#show-more-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#show-more {
  display:inline-block;
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius:1em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  text-transform:uppercase;
  font-weight:400;
  color:#FFFFFF;
  background-color:#191e20;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
}
#show-more:active{
  top:0.1em;
}

#load-icon {
  width: 5%;
  display: none;
}

#youve-hit-bottom {
  display: none;
}

/*
  ___       _   _      _           
 / _ \     | | (_)    | |          
/ /_\ \_ __| |_ _  ___| | ___  ___ 
|  _  | '__| __| |/ __| |/ _ \/ __|
| | | | |  | |_| | (__| |  __/\__ \
\_| |_/_|   \__|_|\___|_|\___||___/
*/

#article-container {
  width: 100%;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#article-inner-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  background-color: #c7ebd3;
  padding: 1% 5%;
}

#article-content-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

/*
           _                 _   
     /\   | |               | |  
    /  \  | |__   ___  _   _| |_ 
   / /\ \ | '_ \ / _ \| | | | __|
  / ____ \| |_) | (_) | |_| | |_ 
 /_/    \_\_.__/ \___/ \__,_|\__|
                                                               
*/

#about-container {
  position: relative;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

#about-bg {
  position: absolute;
  height: 100%;
  width: 100%;
}

#about-outer-flex {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

#about-inner-flex {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-header {
  font-family: cursive;
  font-weight: bold;
  font-size: 3.5vw;
}

#about-text {
  font-size: 1.2vw;
  line-height: 2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width: 1000px) {
  #about-text {
    font-size: smaller;
  }

  #about-header {
    font-size: xx-large;
  }
}

/*
______            _    _                 
| ___ \          | |  (_)                
| |_/ /__ _ _ __ | | ___ _ __   __ _ ___ 
|    // _` | '_ \| |/ / | '_ \ / _` / __|
| |\ \ (_| | | | |   <| | | | | (_| \__ \
\_| \_\__,_|_| |_|_|\_\_|_| |_|\__, |___/
                                __/ |    
                               |___/     
*/

#main-container-rankings {
    position: relative;
    margin-top: 50px;
    margin-bottom: auto;
    text-align: center;
}

#title {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: -22px;
    font-family: 'Gill';
    font-size: 60pt;
}

.grad {
    background-image: linear-gradient(rgb(117, 255, 104), rgb(186, 255, 121), rgb(232, 255, 131), rgb(255, 152, 152));
    /*background-size: 100% 100vh;*/
    
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

.group-container {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .6);
    border: solid 1px #000000;
}

.group-name {
    font-family: Gothic;
    font-size: 30pt;
    color: rgb(138, 0, 156);
    text-shadow: 2px 2px 3px #000000;
    margin: 0px;
}

.names-list {
    margin: 0px;
}

.points-container {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serifs;
    margin-top: 15px;
    margin-bottom: 10px;
}

.points-value {
    color: green;
}

#list-container {
    padding: 20px;
    border-radius: 25px;
    background-color: rgba(164, 201, 255, .8);
    width: 600px;
    margin: auto;
    border: solid 1px #000000;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .6);
}

@media screen and (max-width: 700px) {
  #list-container {
    width: 80%;
  }

  .group-container {
    width: 70%;
  }

  .group-name {
    font-size: 7vw;
  }
}
