<div class="admin-panel"> 
    <script src="/javascripts/admin_panels/add_year.js"> </script>

    <p> This is an example of a much longer input: </p>
    <input type="text"> </input>
    <textarea></textarea>
    <button> Commit </button>

    <% include ../loading_icon %>
</div>