<div id="about-container">
                        
    <img id="about-bg" src="images/organizations/about/content_bg.png"> </img>

    <div id="about-outer-flex">
        <h1 id="about-header">About</h1>

        <div id="about-inner-flex"> 
            <p id="about-text"> PyUnityd is a game development orientated organization originally founded as a club 
                within Brooklyn Technical High School by Aleksey Panas towards the end of 2019. Although the
                club continues to run, PyUnityd is aiming towards greater heights. The goal is to bring PyUnityd
                to a more public level, offering the chance for any educational center to open their own division
                of PyUnityd thus gaining access to helpful resources, as well as their own section of the website.
                Also in the future, PyUnityd will become home to live programming courses, as well as CodeBrawl:
                a 2D competitive game intended to be played entirely through writing code. Although the platform is 
                currently early in its development, the hope is that major headway will be made by the Summer of 2022
            </p>
        </div>
    </div>

</div>