<!DOCTYPE html>
<html lang="en"> 
    <% include ../partials/universal/head %>
    <% include ../partials/universal/scripts %>
    <% include ../partials/universal/bootstrap %>

    <body>
        <% include ../partials/hub/hub_nav %>

        <div id="main-container">
            
            <% include ../partials/hub/login_form %>

        </div>
    </body>

    <% include ../partials/hub/hub_footer %>

</html>